<!doctype html>
<html lang="en">
  <head>
    <%- include('partials/template/head.ejs') %> 
</head>
  <body class="green">
    
    <%- include('partials/content/header.ejs') %>

    <main>
  

    <div class="photocontainer d-flex flex-column mt-4">
  
          <div class="allAlbumsContainer d-flex flex-column">
  
              <div class="albumcontainer d-flex">
                    
                    <div class="col-lg-12 my-2 mr-2">
                      <div class="card w-100 grey border-0 p-3">
                      <h5 class="card-header border-0"><%= album[0].name %></h5>
                      <div class="card-body d-flex">
                          <div class="image-tracks">
                              <img src="../images/<%=album[0].artwork%>" class="albumPhotos" alt="..." style="border-radius: 5%;">
                              <div class="tracklist m-2">
                                <ol class="card-text">
                                    <% for (i in album[0].tracklist){ %>
                                    
                                    <li><%= album[0].tracklist[i] %> </li>
                                    
        
                                    <% } %>
                                </ol> 
                                <p class="card-text"><small class="text-muted"><%= album[0].length %></small></p>
                            </div>
                        </div>
                        <div class="summary-buttons m-4">
                          <p class="card-text"><%= album[0].summary%></p>
                          <a href="<%= album[0].albumSM%>" class="btn btn-outline-secondary noMargin mr-2 mb-2" style="border-radius: 10%;"><img src="../images/spotify.png" alt="" style="border-radius: 10%; height: 45px;"></a>
                          <a href="<%= album[0].albumAM%>" class="btn btn-outline-secondary noMargin mr-2 mb-2" style="border-radius: 10%;"><img src="../images/apple.jpeg" alt="" style="border-radius: 10%; height: 45px;"></a>
                        </div>
  
                      </div>
                      </div>
                  </div>
                  
              
              </div>
  
          </div>
  
          
     
      </div>
  

    </main>
    
    <footer>

    </footer>

    <%- include('partials/template/script.ejs')%> 
  </body>
</html>